# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/

# Tools caches
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# Editors
.vscode/*.log

# Others
Makefile
pyproject.toml
requirements-dev.in
requirements-dev.txt
requirements.in
.pre-commit-config.yaml
documentation/Catalogo_Datos_Campaign_Performance_Funnel.docx
documentation/TSD_Campaign_Performance_Funnel.docx
documentation/~$D_Campaign_Performance_Funnel_v1_1.docx